#form-div{
  min-height: 100%;
  overflow-y: hidden;
}
/*Styling the no-details-account page*/
.addressBox{
  width: 20%;
  margin-top: 5px;
}
input[type="text"]{
  font-size: 14px;
}

input::placeholder {
  font-size: 10px;
}

form.no-details-form{
    margin-right: 5em;
}
form.no-details-form #state{
  margin-right: 100px;
}
.form-div{
  margin-top: 30px;
  margin-bottom: 50px;
  width: 50%;
  text-align: center;
  margin-left: 30em;
}

.no-details-form label, .no-details-form
input {
  display: inline-block;
}

.no-details-form label{
      width: 20%;
      text-align: right;
}

#sub-button{
  margin-left: 4em;
  background-color: #172026;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 5px;
}

#sub-button:hover{
  background-color: #00b7b1;
}

/********************************************/
/*Styling the call-to-action to hirepage in the booking summary page button*/
.cta-hire-button {
  background-color: #172026d2;
  color: white;
  border: 1px solid #09c5bf1a!important;
  font-size: 16px;
  border-radius: 5px;
  border-width: 0px;
  cursor:pointer;
}
.cta-hire-button:hover{
  background-color: #09c5bf8c;
  color:white;
  border: 1px solid #17202621;
}


/********************************************/
/*Styling the customer booking summary page*/
#greet-heading{
    padding-top: 20px;
    margin-left: 5em;
    padding-left: 2.5em;
}

.section {
  display: flex;
}

.col {
  flex: 50%;
  float: left;
  padding: 10px;
  margin-bottom: 30px;
}

/*Style the current bookings container which is the first col*/
#col1{
  max-height: 500px;
  margin-left: 15em;
  padding-left: 28px;
  flex-basis: 75%;
  background-color:  rgba(234,247,246, 0.4); 
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: scroll;     /*all the user to scroll the container if more than 1 bookings are listed*/
}
/*style the booking details container which is the second col*/
#col2{
  max-height: 500px;
  margin-right: 15em;
  padding-left: 28px;
  margin-left: 2em;
  background-color:rgba(234,247,246, 0.6); 
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border: #00b7b11f 1px solid;

}
/*style the 2 columns texts*/
.text-col{
  flex: 50%;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
}

.text{
  display: flex;
}
.cancel-booking-button, #cta-hire-button{
  margin-right: 25px;

}

.booking-details-buttons{
  margin-bottom: 20px;
}
#toUserDetails .text-col{
  margin-left: 120px;
}

.no-details-error{
  font-size: 12px;
  margin-left: 22.5vw;
  text-align: left;
  color: red;
}

a {
  cursor:pointer;
}

.modal-confirm-content {
  background-image:
  linear-gradient(to bottom, rgba(234, 247, 246,0.6), rgba(234, 247, 246,0.7)),
  url('../img/backgrounds/popup-background.jpg');
  background-position-y: 200px;
  background-size: cover;
  margin: auto;
  border: 1px solid #888;
  height: 100px;
  width: 300px;
  padding: 30px 40px 70px;
  font-weight: 700;
}

.confirm-delete-overlay{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 400px;
  text-align: center;
  margin: auto;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.close-confirm-deletion-btn {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -30px;
    margin-right: -30px;
}

.close-confirm-deletion-btn:hover, .close-confirm-deletion-btn:focus{
    color: #172026;
    text-decoration: none;
    cursor: pointer;
}

.confirm-deletion-btn{
  color: white;
  font-size: 16px;
  border-radius: 5px;
  padding: 2px 20px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) .95px .95px 1px;
}

.confirm-deletion-btn.yes{
  background-color:red;
  margin-right: 5px;
}
.confirm-deletion-btn.no{
background-color: #eaf7f6;
color:#172026;
margin-left: 5px;
}

.confirm-deletion-btn:hover{
  opacity: 0.7;
}