/*                                                                                     */
/* Jake's original styling modified by Dabin for a more responsive UI with grid layout */
/*                                                                                     */
/* Set background colour to a nice green */
body
{
    background-color: #eaf7f6;
}

/* Header text formatting */
.header
{
    font-size: 40px;
    text-align: center;
    height: 100px;
    line-height: 3;
    margin-right: 30%;
    align-items: center;
}

/* header logo sizing */
#Logo{
    /* height: 135px; */
    height: 15%;
    float: left;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* Use two columns in grid layout */
.grid-container {
    display: grid;
    grid-template-columns: max(200px, 17vw) auto;   /* Make 200px minimum width for side menu */
    gap: 1px;
    /* text-align: center; */
    padding-top: 0px;
    padding-right: 40px;
}

.grid-container > div {
    padding-top: 0px;
}

/* Main content grid layout formatting */
.main
{
    background-color: white;
    padding: 0 4vw 4vw 4vw;
    font-size: calc(12px + 0.3vw);
}

/* Invisible element */
.invisible
{
    display: none;
}

/* Menu content grid layout formatting */
.menu
{
    font-size: 0px;
    min-width: 200px;
}

/* Styling for side menu text */
.menu a
{
    text-decoration: none;
    color: black;
    font-size: calc(20px + 0.9vw);
    padding-bottom: 12px;
    display: block;
}

.menu a:hover
{
    background-color: white;
    color: #00b7b1;
}

.menu a.active
{
    background-color: white;
    color: #00b7b1;
}

#webpageDirect
{
    text-decoration: none;
    background-color: darkcyan;
    border: none;
    color: white;
    font-size: 25px;
    border: solid white;
    border-width: thin;
    cursor: pointer;
    padding: 5px;
    margin-top: 4%;
}

.flexDisplay
{
    display: flex;
    justify-content: flex-end;
    width: 98%;
    align-content: center;
    align-items: center;
    height: 15%;
}

br
{
    margin: 0px;
    padding: 0px;
}

/* styling for main menu content buttons */
button
{
    /* display: inline-block; */
    /* margin-top: 2%; */
    /* left: 67%; */
    /* position: relative; */
    background-color: darkcyan;
    border: none;
    color: white;
    font-size: 25px;
    border: solid white;
    border-width: thin;
    cursor: pointer;
}

button:active
{
    background-color: #1BB1B1;
    cursor: pointer;
}

.midbar form
{
    flex-grow: 1;
    display: flex; justify-content: space-between;
}

.midbar input
{
    font-size: calc(12px + 0.3vw);
    flex-grow: 1;
    margin-right: 10px;
}

.midbar
{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.main h1
{
    display: inline-block;
    margin-bottom: 0px;
}

/* Formatting for table content in div */
.TableContent{
  border-collapse: collapse;
  width: 100%;
}

/* Formatting for table heading and data */
.TableContent th, td{
  text-align: center;
  border: 2px solid black;
  padding: 8px;
}

/* width of edit column in table content */
.editcolumn
{
    width: 30px;
}

/* Set table font size dynamically based on viewport width */
table
{
    font-size: calc(12px + 0.3vw);
}

/* remove all margins and padding from forms. */
form
{
	margin:0px;
	padding:0px;
}

/*                                                      */
/* Clement's styling for dropdown update/delete options */
/*                                                      */
.dropdown-element
{
	background-color: darkcyan !important;
    border: none !important;
    color: white!important;
    font-size: 20px!important;
    border: solid white!important;
    border-width: thin!important;
    cursor: pointer!important;
    left: -2%!important;
	width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  min-height: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover
{
	background-color: #ddd;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

.dropdown:hover .dropbtn
{
	background-color: #3e8e41;
}

.dropdown button
{
    left: 0px;
}

.dropdown-disabled
{
    display: none;
}

.dropbtn {
    background-color: darkcyan !important;
    border: none !important;
    color: white!important;
    font-size: 20px!important;
    border: solid white!important;
    border-width: thin!important;
    cursor: pointer!important;
    left: 3%!important;
}


/* Side navigation drop down: Done by Jake.H (102090870)*/
.dropdown-Navcontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 80px;
    min-height: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100%;
  }

  .dropdown-Navcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-Navcontent a:hover
  {
      background-color: #ddd;
  }

  .dropDownNav:hover .dropdown-Navcontent
  {
      display: block;
  }

  .dropDownNav:hover .dropbtn
  {
      background-color: #3e8e41;
  }

  .dropDownNav button
{
    left: 0px;
}

.dropDownNav
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 100%;
}
