@font-face { font-family: Lato;  src: url('../fonts/Lato.ttf'); } 
@font-face { font-family: OpenSansLight; src: url('../fonts/OpenSansLight.ttf'); } 

h1{
    font-family: Lato, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}

button {
    font-family: OpenSansLight, Georgia, Times, 'Times New Roman', serif;
}