/*Completed by Vina Touch: 101928802*/

/*Styling the header and the footer of the pages*/
html, body{
    overflow-x: hidden;
    margin: 0;
}

/* Divides div into 2 columns for header content*/
.column {
    float: left;
    width: 50%;
}


h1{
    margin-top: 50px;
}

/*main nav styling*/
.nav-wrapper li{
    display:inline-block;
    text-decoration: none;
    margin-top: 20px;
    padding-right: 0.8vw;
}

/*the header that contains the logo and the main nav*/
header{
    height: 104px;
}
/*hide the sub nav when main nav is not hovered*/
#subNav{
    display: none;
    position: absolute;
    top: 65px;
    width: 7.8vw;
    right: 23.3vw;
    padding: 0;
    background: white;
    z-index: 1;
}

/*sub-menu styling*/
#menu li li{
    font-size: 16px;
    float: none;

}
/* shows sub-sublist on hover */
#menu li:hover #subNav{
    display:block; 
    margin-left:60.5em; /* this should be the same width as the parent list item */
    
}
/******************************************/
/*style the hover effect and animations on the navigation texts only - not the button*/
/*Ref: https://css-tricks.com/css-link-hover-effects/ */
#menu a {
    background-image: linear-gradient(
        to right,
        #00b7b1,
        #00b7b1 50%,
        #172026 50%
      );
      background-size: 200% 100%;
      background-position: -100%;
      display: inline-block;
      padding: 5px 0;
      position: relative;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 0.3s ease-in-out;
    text-decoration:none;
}

#menu a::before {
    content: '';
    background: #00b7b1;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
#menu a:hover {
    background-position: 0;
   }

#menu a:hover::before {
    width:100%;
  }

 .nav-active, nav-active:focus{
    background-image:none!important;
    -webkit-text-fill-color: #00b7b1 !important;
}

/******************************************/

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #eaf7f6;
    transition: background-color 0.5s ease;
  }

.logo{
    padding-left: 15vw;
}
/******************************************/
/*style all the buttons that ref this css*/
.button, .acc-button{
    background-color: #172026;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border-width: 0px;
    cursor:pointer;
    transition: box-shadow .5s ease-in-out, background-color .6s ease-in-out;
}
.button{
    padding: 10px 20px 10px 20px;
}

/*style the buttons on the booking summary page that ref this css*/
.acc-button, .cta-hire-button {
    padding: 5px 15px 5px 15px;}

/*style the hover state of all the buttons that ref this css*/
.button:hover, .acc-button:hover{
    background-color: #00b7b1;
    color: white;
    border-width: 0px;
    box-shadow: inset 10vw 0 0 0 #00b7b1;
}

/******************************************/
/*Footer Styling*/
/* Change the alignment of footer mid text. */
#footer-content{
    text-align: center;
    position: absolute;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #eaf7f6;
    width: 100%;

}

#footer-content span{
    display: block;
    margin-top: -5px;
}

.footer-logo{
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: -20px;
}
nav.footerNav li{
    list-style-type: none;
}
@media (min-width: 1274px){
    .nav-wrapper li{
        font-size:1.14vw;
    }
}@media (max-width: 1273px){
    .nav-wrapper li{
        font-size:18px;
    }
}
