@charset "utf-8";
/* CSS Document */
/* Project Name: Inverloch Bike Hire
Project Description: A website for hiring bikes. Front-end accompanied by an admin dashboard.
Contributor:
 	- Clement Cheung @ 103076376@student.swin.edu.au
	- Jake Hipworth @ 102090870@student.swin.edu.au*/
  

/* Worked on by Jake */
body{
  background-color: #eaf7f6;
}

/* Worked on by Jake */
.sideNavigation{
  width: 16.5%;
  margin: auto;
  height: 1000px;
  float: left;
  font-size: 40px;
}

/* Worked on by Jake */
.sideNavigation a {
  color: black;
}

/* Worked on by Jake */
.sideNavigation a.active {
  background-color: white;
  color: #00b7b1;
  position: absolute;
  width: 17%;
}

/* Worked on by Jake */
.sideNavigation a:hover {
  background-color: white;
  color: #00b7b1;
  position: absolute;
  width: 17%;
}

/* Worked on by Jake */
.header{
  font-size: 40px;
  text-align: center;
  height: 100px;
  line-height: 3;
}

/* Worked on by Jake */
#Logo{
  height: 180px;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* Worked on by Jake  */
/* Modified by Clement */
.Content{
  padding-left: 175px;
  padding-right: 175px;
  background-color: white;
  margin: 0 auto;
  width: 64.5%;
  height: 1300px;
  float: left;
  display: inline-block;
}

 /* Worked on by Jake  */
/* Modified by Clement */
.Content input[type=text] {
  font-size: 20px;
  display: block;
  float: none;
  margin-top: 0%;
  position: none;
  margin-right: 2%;
  height: 2%;
}

/* Worked on by Jake */
.Content h1{
  display: inline-block;
}

/* Worked on by Jake  */
/* Modified by Clemenmt */

.Content img{
  display: inline-block;
  margin-top: 2.3%;
  float: right;
  position: relative;
  left: -25%;
}

/* Worked on by Jake */
/* Modified by Clement */
.Content button{
  display: inline-block;
  margin-top: 2%;
  margin-bottom: 2%;
  float: none;
  left: 0%;
  position: relative;
  background-color: darkcyan;
  border: none;
  color: white;
  font-size: 25px;
  border: solid white;
  border-width: thin;
}

/* Worked on by Jake */
.Date{
  font-size: 20px;
  
  padding-top: .1%;
  position: absolute;
}

/* Worked on by Jake */
.Content #rightArrow{
  left: 212%;
}

/* Worked on by Jake */
.Content #leftArrow{
  left: -75%;
}

/* Worked on by Jake */
.Content #calendar{
  left: -70%;
}

/* Worked on by Jake */
.Headings{
  font-size: 30px;
  text-align: center;
  display:inline-block;
  padding-inline: 8%;
}

/* Worked on by Jake */
.DashboardInformationContainer{
  display:inline-block;
  width: 100%; 
  height: auto;
  background-color: lightgray;
  display: table;
  border: solid white;
  
}

/* Worked on by Jake */
.DashboardInformation{
  width: auto;
  height: auto;
  background-color: lightgray;
  display:table-cell;
  border: solid white;
  text-align: center;
  
}

/* Worked on by Jake */
nav a {
  text-decoration: none;
}

/* Worked on by Jake */
.TableContent{
  border-collapse: collapse;
  width: 100%;
}

/* Worked on by Jake */
.TableContent th, td{
  text-align: center;
  border: 2px solid black;
  padding: 8px;
}

/* Worked on by Jake */
.CheckBox{
  height: 25px;
  width: 25px;
  accent-color: black;
}

/* Worked on by Jake */
.CheckBox:hover{
  cursor: pointer;
}

