@charset "utf-8";
/* CSS Document */
body{
  background-color: #eaf7f6;
}

.sideNavigation{
  width: 16.5%;
  margin: auto;
  height: 1000px;
  float: left;
  font-size: 40px;
}

.sideNavigation a {
  color: black;
}

.sideNavigation a.active {
  background-color: white;
  color: #00b7b1;
  position: absolute;
  width: 17%;
}

.sideNavigation a:hover {
  background-color: white;
  color: #00b7b1;
  position: absolute;
  width: 17%;
}

.header{
  font-size: 40px;
  text-align: center;
  height: 100px;
  line-height: 3;
}

#Logo{
  height: 180px;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}

.Content{
  padding-left: 175px;
  padding-right: 175px;
  background-color: white;
  margin: 0 auto;
  width: 64.5%;
  height: 1300px;
  float: left;
  display: inline-block;
}

.Content input[type=text] {
  font-size: 20px;
  display: inline-block;
  float: right;
  margin-top: 2%;
  position: relative;
  margin-right: 2%;
  height: 2%;
}

.Content h1{
  display: inline-block;
}

.Content img{
  display: inline-block;
  margin-top: 2.3%;
  float: right;
  position: relative;
  left: -25%;
}

.Content button{
  display: inline-block;
  margin-top: 2%;
  float: right;
  left: 38%;
  position: relative;
  background-color: darkcyan;
  border: none;
  color: white;
  font-size: 25px;
  border: solid white;
  border-width: thin;
}

.Date{
  font-size: 20px;
  
  padding-top: .1%;
  position: absolute;
}

.Content #rightArrow{
  left: 212%;
}

.Content #leftArrow{
  left: -75%;
}

.Content #calendar{
  left: -70%;
}

.Headings{
  font-size: 30px;
  text-align: center;
  display:inline-block;
  padding-inline: 8%;
}

.DashboardInformationContainer{
  display:inline-block;
  width: 100%; 
  height: auto;
  background-color: lightgray;
  display: table;
  border: solid white;
  
}

.DashboardInformation{
  width: auto;
  height: auto;
  background-color: lightgray;
  display:table-cell;
  border: solid white;
  text-align: center;
  
}

nav a {
  text-decoration: none;
}

.TableContent{
  border-collapse: collapse;
  width: 100%;
}

.TableContent th, td{
  text-align: center;
  border: 2px solid black;
  padding: 8px;
}

.CheckBox{
  height: 25px;
  width: 25px;
  accent-color: black;
}

.CheckBox:hover{
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  margin-left: 25%;
  padding: 20px;
  border: 1px solid #888;
  width: 65%; /* Could be more or less, depending on screen size */
  background-color: #eaf7f6;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}