@charset "utf-8";
/* CSS Document */
/* Project Name: Inverloch Bike Hire
Project Description: A website for hiring bikes. Front-end accompanied by an admin dashboard.
Contributor:
 	- Clement Cheung @ 103076376@student.swin.edu.au
	- Jake Hipworth @ 102090870@student.swin.edu.au*/

/* Worked on by Jake and modified by Clement*/
.CheckBox {
  height: 2em;
  width: 25px;
  accent-color: black;
}

/* Modal Content/Box */
/* Worked on by Clement */
.modal-content {
  width: 20%;
}

/* This is to make sure the header has space */
/* Worked on by Clement */
.modal-content h2 {
  margin-top: 0%;
}

/* This is to make sure the text in the popup is aligned */
/* Worked on by Clement */
.modal-content h1 {
  text-align: center;
}

/* This is to make sure the buttons is in style type of thing */
/* Worked on by Clement and Jake */
.UpdateButton, .deleteButton {
  background-color: darkcyan !important;
  border: none !important;
  color: white !important;
  font-size: 20px !important;
  border: solid white !important;
  border-width: thin !important;
  cursor: pointer !important;
  left: -2% !important;
}


/* This is if an error appear */
/* Worked on by Clement */
.error {
  color: red;
  margin: 0%;
}

/* This is if an success message appear */
/* Worked on by Clement */
.success {
  color: green;
}

/* This is mainly to align center certain items */
/* Worked on by Clement */
.center {
  text-align: center;
}

/* This is mainly to give spacing above the item */
.top5 {
  margin-top: 5%;
}

/* This is to move the header by a tiny bit */
.upheader5 {
  margin-top: -5%;
}

/* This is where the buttons is confirm yes or no */
.confirmationbutton {
  width: 40%;
  position: relative;
}