.date_string
{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.date-grid
{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.DashboardInformationContainer{
    display:inline-block;
    width: 100%;
    height: auto;
    background-color: efefef;
    display: table;
    border: solid white;
}

.DashboardInformation{
    width: auto;
    height: auto;
    background-color: efefef;
    display:table-cell;
    border: solid white;
    text-align: center;
}

.dashboard-headers
{
    padding-top: 17px;
}

.leftArrow
{
    left: 0px;
}

.rightArrow
{
    right: 0px;
}

.date-picker
{
    /* height: auto; */
    width: 25px;
    border-style: none;
    font-size: 20px;
    color: white;
}
