/* CSS for all popups */
.modal-overlay
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content
{
    background-color: #eaf7f6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    font-size: 25px;
    text-align: center;
}

.modal-content h2
{
    margin-top: 0px;
    margin-bottom: 5px;
}

.modal-content p
{
    font-size: 20px;
}

.modal-form input, .modal-form select
{
    padding-left: 0.2em;
    font-size: 18px;
    width: 480px;
    position: relative;
    margin: auto;
    min-height: 30px;
}

/* Mostly taken from Jake's CSS file, but modified by Dabin */
.modal-content button{
    display:inline-block;
    text-align: center;
    margin: auto;
    background-color: darkcyan;
    border: none;
    color: white;
    font-size: 25px;
    border: solid white;
    border-width: thin;
    cursor: pointer;
 }

 .modal-form
 {
     text-align: center;
 }

.modal-form label
{
    padding-left: 0.5em;
}

.close-btn
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Modal error message styling */
.modal-error
{
    color: red;
    text-align: left;
    padding-left: 1vw;
    margin-bottom: 0px;
    margin-top: 0px;
}
