/*Buttons generic styling*/
.button {
    background-color: #172026;
    color: white;
    text-align: center;
    margin: 4px 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    font-size: 15px;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    margin-bottom: 10px;
}

.button:hover{
    background-color: #00b7b1;
}

/*Home banner image styling*/
.Homebanner {
    margin: 0 auto;
    width: 95%;
    height:320px;
    background-image: url('../img/photos/1.jpg');
    background-color: rgba(234, 247, 246,0.7);
    background-position: center;
    background-blend-mode: soft-light;
    margin-bottom: 35px;
}

/*Homepage banner text styling*/
#homebannertext {
    text-align: center;
    padding-top: 10px;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
}

#bannerH1{
    font-size: 50px;
    color: #172026;
}

#bannerP{
font-size: 25px;
}

/*Generic banner image styling*/
.banner {
    padding-left: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 10px;
    width: 100%;
    background-image: url('../img/photos/1.jpg');
    height: 250px;
    background-color: rgba(234, 247, 246,0.7);
    background-position: center;
    background-blend-mode: soft-light;
    margin-bottom: 20px;
}

/*Generic banner text styling for all pages*/
#bannertext{
    text-align: center;
    padding-left: 50px;
    padding-top: 50px;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 25px;
    color: #172026;
}

/*Breadcrumb nav styling*/
.NavContainer{
    padding-left: 50px;
}

.Breadcrumbs{
    padding: 2px;
    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif;
    font-size: 25px;
    background-color: none;
    margin-top: -15px;
}

.BreadcrumbsItem{
    display:inline-block;
}

.BreadcrumbsItem:not(:last-of-type)::after{
    content: '>';
    margin: 0 5px;
    color: white;
}

.BreadcrumbsURL{
    text-decoration: none;
    color: white;
}

.BreadcrumbsURL:hover{
    text-decoration: underline;
}

/*Home page Container alignment styling*/

.HomeMainCont{
    /* background-color: blue; */
    height: 400px;
    display: grid;
    grid-template-columns:50% 50%;
    width: 95%;
    margin: 0 auto;
    overflow:visible;
    margin-bottom: 30px;
}

.HomeNeedHelp{
    text-align: center;
}

.HomeImg{
    overflow:hidden ;
}
.HomeTxt{
    background-color: rgba(234,247,246, 0.4);
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

#HomeHeader{
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 40px;
    color: #172026;
    padding-left: 30px;
}

.HomeDesc{
    /* background-color: red; */
    padding-right: 10px;
    padding-left: 28px;
    line-height: 1.9;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 18px;
    color: #172026;
}

/*ensuring the images are not stretched*/
.filled-img {
    object-fit: cover;
  }

/*style all the buttons*/
.acc-button {
    background-color: #172026;
    color: white;
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border-width: 0px;
}

.acc-button:hover{
    background-color: #00b7b1;
    color: white;
    border-width: 0px;
}

/*About page Container alignment styling*/

.AboutMainCont{
    /* background-color: blue; */
    height: 460px;
    display: grid;
    grid-template-columns:50% 50%;
    width: 95%;
    margin: 0 auto;
    overflow:visible;
    margin-bottom: 20px;
}

.AboutImg{
    overflow:hidden ;
}
.AboutTxt{
    background-color: rgba(234,247,246, 0.4);
    padding-right: 10px;
    padding-left: 10px;
    height: 460px;
}

#AboutHeader{
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 40px;
    color: #172026;
    padding-left: 30px;
}

.AboutDesc{
    /* background-color: red; */
    padding-right: 10px;
    padding-left: 28px;
    line-height: 1.9;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 18px;
    color: #172026;
}


/*About Page Carousel Styling*/

#AboutH1{
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 40px;
    color: #172026;
    padding-left: 30px;
}

#carousel
{
    margin:0 auto;
    padding: 0;
    width: 95%;
}
.cell{
    width: 32%;
    height: 350px;
    margin:0 15px;
    overflow: hidden;
    border-radius: 0px;
}

.cell img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

/*Main Explore page Container alignment styling*/
.ExploreMainCont{
    /* background-color: blue; */
    height: 360px;
    display: grid;
    grid-template-columns:50% 50%;
    width: 95%;
    margin: 0 auto;
    overflow:visible;
    margin-bottom: 20px;
}

.ExploreImg{
    overflow:hidden ;
}
.ExploreTxt{
    background-color: rgba(234,247,246, 0.4);
    padding-right: 10px;
    padding-left: 10px;
    height: 100%;
}

#ExploreHeader{
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 40px;
    color: #172026;
    padding-left: 30px;
}

.ExploreDesc{
    /* background-color: red; */
    padding-right: 10px;
    padding-left: 28px;
    line-height: 1.9;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 18px;
    color: #172026;
}

/*Sub Explore page Container alignment styling*/
.SubExploreMainCont{
    /* background-color: blue; */
    height: 300px;
    display: grid;
    grid-template-columns:65% 35%;
    width: 95%;
    margin: 0 auto;
    overflow:visible;
}

.SubExploreImg{
    overflow:hidden ;
    height: 100%;
}
.SubExploreTxt{
    background-color: rgba(234,247,246, 0.4);
    height: 100%;
    overflow:auto;
}

#SubExploreHeader{
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    color: #172026;
    padding-left: 30px;
}

.SubExploreDesc{
    /* background-color: red; */
    padding-right: 10px;
    padding-left: 28px;
    line-height: 1.9;
    /* font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,sans-serif; */
    font-size: 18px;
    color: #172026;
}



.hidden
{
    display: none;
}


.modal-overlay
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

.modal-content
{
    /* background-color: #fefefe; */
    background-image:
    linear-gradient(to bottom, rgba(255,255,255,0.44), rgba(255,255,255,0.44)),
    url('../img/backgrounds/login-background.jpg');
    background-size: cover;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
}

.close-btn
{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover, .close-btn:focus
{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.centre-text
{
    text-align: center;
}

.centre-element
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.decorated-lines
{
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: center;
}

.decorated-lines:before, .decorated-lines:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 1px;
    content: '\a0';
    background-color: black;
}

.decorated-lines:before
{
    margin-left: -50%;
}

.no-text-decoration
{
    text-decoration: none;
    color: #172026;
}

.no-vertical-margins
{
    margin-top: 0px;
}

.no-vertical-padding
{
    padding-top: 0px;
    padding-bottom: 0px;
}

input, button
{
    font-size: 20px;
}

input::placeholder
{
    text-align: center;
}

.input-window-format
{
    width: 75%;
    height: 40px;
    border: none;
}

.modal-content-header
{
    font-size: 30px;
    margin-bottom: 0px;
}

.modal-btn
{
    width: 60%;
    height: 35px;
    border: none;
    display: inline-block;
}

.login-btn
{
    background-color: #172026;
    color: white;
}

.create-account-option-btn
{
    background-color: #eaf7f6;
    color: #172026;
}

.error
{
    color: red;
    position: relative;
    /* transform: translate(12%, -15%); */
    text-align: center;
    padding-bottom: 20px;
}

.explore-rail-description
{
    display: block;
    padding-bottom: 0px;
}

.explore-std-padding
{
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.explore-std-header
{
    text-decoration: underline;
    font-weight: bold;
    padding-left: 10%;
}

.no-top-margin
{
    padding-left: 10%;
    margin-top: 0px;
}

.no-bottom-margin
{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.left-location-container
{
    width: 30%;
    float: left;
    padding-left: 10%;
}

.right-location-container
{
    width: 30%;
    float: right;
    padding-right: 10%;
}

.no-separation
{
    margin: 0;
    padding: 0;
    display: block;
}

.location-description
{
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-top-style: none;
    margin-top: 0px;
    padding-top: 1px;
    padding-left: 10px;
    border-color: #BAEECB;
    width: 563px;
}

.location-container-content
{
    display: inline-block;
    margin-top: 0px;
}

.location-details-button
{
    display: inline-block;
    float: right;
    margin-right: 1em;
}

.location-container-separator
{
    padding-top: 35em;
}
